<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="flex font-bold border-b h-[5vh] items-center justify-between">
    <p class="ml-[1vw] text-[3.4vw] " >채팅방</p>
     
  </div>
  
  <ul class="friend-list w-[100vw] h-[87vh]">
  
  </ul>
 
  <%-include('nav')%>
  <script type="module" src="/js/chatroom.js"></script>
</body>

</html>