<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <div class="flex font-bold border-b h-[5vh] items-center justify-between">
    <p class="ml-[1vw] text-[3.4vw] " >친구</p>
    <a class="mr-[1vw] text-[2.5vw] " href="/logout" >로그아웃</a>
  </div>
  
  <ul class="friend-list w-[100vw] h-[87vh]">
  
  </ul>
  <div class="flex h-[8vh] w-[100vw] navbar border justify-around ">
    <div class="w-[25vw] border-r flex items-center justify-center cursor-pointer">1</div>
    <div class="w-[25vw] border-r flex items-center justify-center cursor-pointer">2</div>
    <div class="w-[25vw] border-r flex items-center justify-center cursor-pointer">3</div>
    <div class="w-[25vw] flex items-center justify-center">4</div>
  </div>


  <script type="module" src="/js/friend.js"></script>
</body>

</html>