<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/costom.css">
</head>
<body>
  <div class="flex w-[100vw] h-[100vh]  p-1 bg-gray-50 ">
  <%-include('navbar')%>
  <div class="p-3 ml-2 bg-gray-100 rounded-lg shadow-md w-[208px] min-w-[208px] border">
    <p class="text-2xl border-b font-neoeb">멀티톡</p>
    <p class="pt-1 mb-1 text-sm text-gray-400 font-neosb">현재접속중인사용자</p>
    <ul class='user-list'></ul>
  </div>
  
  <div class="relative w-[1320px] min-w-[1300px] p-2 ml-2 border rounded-lg shadow-md bg-white">
    <p class="mt-1 ml-1 text-xl font-neoeb">채팅방</p>
    <div class="mb-2 overflow-x-hidden overflow-y-scroll display-container custom-scroll">
      <img src="asset/4.png" alt="" class="fixed w-[900px] mt-36 ml-10">
      <div class="chat-list  relative flex flex-col pt-1 pb-1  rounded-md h-[790px]   "></div>
    </div>
    <div class=" chat">

      <div class="flex">
        <input type="text" value="" class="chatting-input w-[1130px] h-[80px] rounded-md border ">
        <button type="text" class="send-button w-[150px] h-[80px] rounded-md text-center bg-purple-300 ml-2 text-white  font-neob"> 전송 </button>
      </div>
    </div>
  </div>
  <%-include('rightContent')%>
</div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/multiChat.js"></script>
</body>
</html>