<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="flex h-[8vh] w-[100vw] navbar border justify-around ">
    <div class="w-[25vw] border-r flex items-center justify-center cursor-pointer" onclick="location.href='/friend'">1</div>
    <div class="w-[25vw] border-r flex items-center justify-center cursor-pointer" onclick="location.href='/chatroom'">2</div>
    <div class="w-[25vw] border-r flex items-center justify-center cursor-pointer">3</div>
    <div class="w-[25vw] flex items-center justify-center">4</div>
  </div>
</body>
</html>