<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body class="">
  <div class="flex w-[100vw] h-[100vh]  p-[0.5vw] ">
    <div class="flex flex-col h-[98vh] w-[3.8vw]  items-center   pt-[0.4vw] bg-gray-100 border-r  border rounded-lg">
      <i class="fas fa-bell text-[1vw]  p-[1vw] text-[black] border rounded-lg bg-gray-200"></i>
      <i class="fas fa-user text-[1vw] p-[1vw] text-[#a7a7aa] "></i>
      <i class="fas fa-comments text-[1vw] p-[1vw] text-[#a7a7aa] "></i>
      <i class="fas fa-user-friends text-[1vw] p-[1vw] text-[#a7a7aa]"></i>

    </div>
  </div>
</body>
</html>