<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>냥이톡-회원가입</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="overflow-y-hidden">
  <div class="modal  flex absolute z-10  w-full   h-[950px] justify-center items-center " >
    <div class="flex items-center justify-center w-full bg-white h-80 bg-opacity-80"><p class="text-[50px] font-neom text-gray-700  ">회원가입 완료</p></div>
  </div>
  <div     class="w-full h-[950px] flex justify-center items-center   bg-purple-200 bg-opacity-80">
    <div class="flex w-[1300px] h-[730px]   rounded-3xl shadow1">
      <div class="w-[900px] h-[730px] p-28 pl-36 rounded-tl-3xl rounded-bl-3xl bg-white ">

        <p class="font-neoeb text-[28px] pb-5">회원가입</p>
        <p class="font-neom text-[16px] text-gray-400">별명</p>
        <input class="mb-3 w-[300px] h-[48px] p-2 border  rounded-md user-name border-white bg-gray-50" type="text" name="name">
        <p class="font-neom text-[16px] text-gray-400">이메일</p>
        <input class="mb-3 w-[300px]  h-[48px] p-2 border border-white bg-gray-50 rounded-md user-id" type="text" name="email">
        <p class="font-neom text-[16px] text-gray-400">비밀번호</p>
        <input class="mb-3 w-[300px]  h-[48px] p-2 border border-white bg-gray-50 rounded-md user-pw" type="password" name="passwd">
        <p class="font-neom text-[16px] text-gray-400">비밀번호 확인</p>
        <input class="mb-10 w-[300px] h-[48px] p-2 border border-white bg-gray-50 rounded-md user-pw" type="password" name="passwdConfirm">
        <button class="flex justify-center items-center w-[300px] h-[50px] p-2 border bg-purple-200   rounded-md user-pw">
          <p class="font-neob text-[16px] text-white">다음</p>
        </button>
      </div>
      <div
        class="relative w-[1230px] h-[730px]  rounded-tr-3xl rounded-br-3xl  bg-white bg-opacity-50">
        <img src="asset/2.png" class="absolute mt-28 w-[550px] ml-14"></img>
      </div>
    </div>
  </div>


  <!-- <div class=" w-[400px] h-[650px] rounded-2xl shadow-xl bg-white"></div> -->


  <script type="module" src="/js/register.js"></script>
</body>

</html>