<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="flex flex-col items-center p-2 ml-2 bg-purple-100 rounded-md">
    <img src="asset/user1.png" class="mt-5 bg-white rounded-full shadow-md w-36" alt="">

    <p class="font-neob text-[20px] mt-3">호리둥절</p>

    <p class="font-neom text-[15px] text-gray-400">2_5_3_1@naver.com</p>
   
    <img src="asset/memo9.png" class="mt-7 w-72" alt="">
    <img src="asset/memo5.png" class=" w-72" alt="">
   
    <!-- <img src="asset/st2.png" class="mb-2 -rotate-2 w-72 " alt="">
    <img src="asset/st3.png" class="w-72 rotate-2" alt=""> -->
  <!-- <div class=" w-[308px] h-[300px] overflow-hidden rounded-xl mt-4">
    <img src="asset/bg4.png" class="h-[200px]" alt="">
  </div> -->
 
  <!-- <img class="mt-5 shadow-lg w-[308px] h-[300px] rounded-[15px] src='asset/background.jpg'"> -->
   




  </div>
  <script type="module" src="/js/rightContent.js"></script>
</body>
</html>