<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Very Wobbly Liquid SVG Button ✨</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="css/test.css">

</head>
<body>
<!-- partial:index.partial.html -->
<button class="wobble">
  로그인 
  <svg width="256" height="56" viewBox="0 0 256 56" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="gradient" gradientTransform="rotate(90)">
        <stop offset="5%" stop-color="#ddd6fe" />
        <stop offset="95%" stop-color="#ddd6fe" />
      </linearGradient>
      <filter id="shadow" filterUnits="userSpaceOnUse" height="200" width="512" y="0">
        <feDropShadow dx="0" dy="8" stdDeviation="8" flood-color="white" flood-opacity="0.3" />
      </filter>
    </defs>
    <path id="baseBtnPath" d="M0 28C0 12.536 12.536 0 28 0H228C243.464 0 256 12.536 256 28C256 43.464 243.464 56 228 56H28C12.536 56 0 43.464 0 28Z" fill="transparent" />
  </svg>
</button>
 
 
<!-- partial -->
  <script type="module" src="js/test.js"></script>

</body>
</html>
